body{
	font-family: 'Century Gothic',helvetica,verdana,arial;
	background-image: url("#{resource['image:s.jpg']}");
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bottom-space{
	margin-bottom: 1em;
}

.top-space{
	margin-top: 1em;
}

#page_wrapper{
	margin: 1em;
	min-width: 700px;
}


    #button.ui-button {
        margin-right: .5rem;
    }


